Flask==3.0.3
waitress==3.0.0
celery==5.3.6
redis==5.0.7
requests==2.32.3
python-dotenv==1.0.1
PyMuPDF==1.24.9
numpy==1.26.4
scikit-learn==1.5.1
sqlite-utils==3.37
xmltodict==0.13.0
openai==1.40.0
supabase==2.6.0
Flask-Cors==4.0.0
